<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">Welcome to Intelligent Document Classifier</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [class.show]="show" (click)="toggleCollapse()">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item float-right">
        <span login>
          Login
        </span>
        <ng-template #login>
          <a class="nav-link" routerLink="/home">Login</a>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>
</header>
